version: 2
jobs:
  build:
    docker:
      - image: circleci/node:8
        environment:
          ## this enables colors in the output
          TERM: xterm
    working_directory: ~/app
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-deps-{{ .Branch }}-{{ checksum "package.json" }}
            - v1-deps-{{ .Branch }}
            - v1-deps
      - run:
          name: Install Dependencies
          command: yarn install --frozen-lockfile
      - save_cache:
          key: v1-deps-{{ .Branch }}-{{ checksum "package.json" }}
          paths:
            - ~/.cache
      # - run: yarn run ci
      # - store_artifacts:
      #     path: coverage
      # - run: curl -s https://codecov.io/bash | bash
      - run:
          name: Build
          command: yarn build
      - run:
          name: Get Bundle Size
          command: yarn bundlesize --debug
